@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald:wght@500&family=Roboto&display=swap');

.image_card2 {
    background: #16256d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    height: 255px;
    width: 231px;
}

.imag1 {
    border-radius: 5px;
    transition: transform 0.6s;
    margin: 0 0 20px 0;
}

.imag1:hover {
    padding: 15px 0 0 0;
}

.img-title {
    display: flex;
    flex-direction: column;
}

.completion {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

/* Mobile styles */
@media (max-width: 767px) {
    .image_card2 {
        height: auto; /* Allow height to adjust */
        padding: 20px; /* Add padding for mobile */
    }

    .imag1 {
        height: auto; /* Maintain aspect ratio */
    }

    .completion {
        font-size: 24px; /* Adjust font size for mobile */
    }
}

/* Laptop styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .image_card2 {
        height: 300px; /* Adjust height for laptops */
        width: 300px; /* Adjust width for laptops */
    }

    .completion {
        font-size: 30px; /* Adjust font size for laptops */
    }
}