/* @import "styles/variables"; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


.navbar {
  justify-content: space-around;
  margin: 0 186px;
  padding: 0px 50px 0 0;
  height: 140px;
  display: flex;
  gap: 60px;
}

.navbar-list {
  list-style-type: none;
  padding: 25px 0 0 0;
  margin: 0;
  display: flex;
  align-items: center;
}


a {
  font-size: 18px;
  color: white;
}

.navbar-list {
  gap: 45px;
}

.nav-link {
  text-decoration: none;
}

.navbar-brand {
  height: 73px;
  width: 325px;
}

.img-fluid {
  height: 120px;
  top: 0;
}

.btn {
  background-color: #0AD3EF;
  color: white;
  border-radius: 30px;
  padding: 15px 43px 14px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border: 0;
}

.nav-link:hover {
  color: #0AD3EF;
}

.mobileview{
  /* right: 0px; */
  /* left: 0px; */
}
/* Mobile styles */
@media (max-width: 767px) {
  .navbar {
    align-items: end;
    margin: 0 20px; /* Reduce margin */
    padding: 20px; /* Adjust padding */
    height: auto; /* Allow height to adjust */
  }

  .navbar-list {
    flex-direction: column; /* Stack list items vertically */
    gap: 20px; /* Reduce gap */
  }

  a {
    font-size: 16px; /* Adjust font size for mobile */
  }

  .btn {
    width: 100%; /* Make buttons full width */
    padding: 10px; /* Adjust padding */
    font-size: 16px; /* Adjust font size */
  }
}

/* Laptop styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    margin: 0 100px; /* Adjust margin for laptops */
    padding: 0 30px; /* Adjust padding */
    height: 100px; /* Adjust height for laptops */
  }

  a {
    font-size: 17px; /* Adjust font size for laptops */
  }

  .btn {
    padding: 12px 30px; /* Adjust padding for laptops */
    font-size: 17px; /* Adjust font size for laptops */
  }
}