/* @import "styles/variables"; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.navbar{
  justify-content: space-around;
  margin:  0 186px;
  padding: 0px 50px 0 0;
  height: 140px;
  display: flex;
  gap: 60px;
}
.navbar-list {
  list-style-type: none;
    padding: 25px 0 0 0; 
    margin: 0; 
    display: flex;
    align-items: center;
 }
  a{
    font-size: 18px;
    color: white;
  }
.navbar-list{
  gap: 45px;
}
.nav-link{
  text-decoration: none;
}

.navbar-brand{
  /* top : 0; */
  height: 73px;
  width: 325px;
}
.img-fluid{
  height: 120px;
  top: 0;
}

.btn{
  background-color: #0AD3EF;
  color: white;
  border-radius: 30px;
  padding: 15px 43px 14px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border: 0;
}
.nav-link:hover{
  color: #0AD3EF;
}