.flip-card {
    padding: 28px 0;
    margin: 0 30px;
    background-color: transparent;
    width: 300px; /* Default width */
    height: 300px; /* Default height */
    border-radius: 20px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: scale(1.2) rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    padding: 40px 10px;
    border-radius: 20px;
    background-color: #16256D;
    display: flex;
    flex-direction: column;
    color: rgb(113, 140, 206);
}

.flip-card-back {
    border-radius: 20px;
    padding: 40px 10px;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.desc {
    color: rgb(113, 140, 206);
}

.card {
    width: 96px;
    height: 96px;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .flip-card {
        margin: 0 15px; /* Adjust margin for mobile */
    }

    .flip-card-inner {
        transition: transform 0.4s; /* Faster transition for mobile */
        text-align: left;
    }

    .flip-card-front,
    .flip-card-back {
        padding: 25px 25px; /* Adjust padding for mobile */
    }

    .desc {
        font-size: 14px; /* Adjust font size for mobile */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flip-card {
        width: 250px; /* Adjust width for tablets */
        height: 250px; /* Adjust height for tablets */
        margin: 0 20px; /* Adjust margin for tablets */
    }

    .flip-card-inner {
        transition: transform 0.5s; /* Medium transition for tablets */
    }

    .flip-card-front,
    .flip-card-back {
        padding: 30px 8px; /* Adjust padding for tablets */
    }

    .desc {
        font-size: 16px; /* Adjust font size for tablets */
    }
}