.up_layer {
    background-color: #091650;
}

.statistics_card {
    background-image: url(../../../public/assets/overly-img.png);
    background-color: #122062;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para_h1 {
    text-align: center;
    font-size: 66px;
    color: white;
    margin-bottom: 20px;
}

.para_h4 {
    text-align: center;
    color: white;
    padding: 0 250px;
}

.about_para {
    text-align: center;
    padding: 120px 186px;
}

.static_design {
    display: flex;
    padding: 38px 0px;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .para_h1 {
        font-size: 36px; /* Reduce font size for mobile */
    }

    .para_h4 {
        padding: 0 20px; /* Adjust padding for mobile */
    }

    .about_para {
        padding: 60px 20px; /* Adjust padding for mobile */
    }

    .static_design {
        flex-direction: column; /* Stack static designs vertically on mobile */
        padding: 20px 0; /* Adjust padding for mobile */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .para_h1 {
        font-size: 50px; /* Adjust font size for tablets */
    }

    .para_h4 {
        padding: 0 100px; /* Adjust padding for tablets */
    }

    .about_para {
        padding: 80px 50px; /* Adjust padding for tablets */
    }

    .static_design {
        flex-direction: row; /* Maintain row layout for tablets */
        padding: 30px 0; /* Adjust padding for tablets */
    }
}