
.footer_hero{
    background-color: rgb(18, 32, 98);
    background-image: url("../../../public/assets/overly-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

.footer_hero_inner {
    margin:  0 186px;
    display: flex;
    padding: 112px 30px;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0 30px; */
}
.footer_title{
    color: white;
}


.footer {
    padding: 0 15px;
    /* display: flex;    */
    flex-direction: column;
    flex: 1;
    /* width: 25%; */
}

.footer_info{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
  list-style-type: none;
}

.footer_ul{
  list-style-type: none;

}
.footer_desc{
    padding: 0 24px 0  0;
}

.footer_logo{
    width: 350px;
    height: 65px;
    margin-bottom: 20px;
}
.footer_anc{
    text-decoration: none;
}

.footer_input{
    border: 2px solid rgb(31,50,124);
    width: 255px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.inp_ftr,.border-0{
    background-color: transparent;
    border: none;
    color: white;
}

.form_group{
    justify-content: center;
}
.checkbox{
    border: 2px solid rgb(10,211,239);
}


.footer_input:hover{
    border-color: rgb(10,211,239);
}

.hori_line{
    color: (42,55,114)
}

.ftr_btm{
    text-align: center; 
    margin-top: 20px ;   
}